<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon">
<link rel="icon" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16">
<link rel="icon" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" href="/assets/images/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" href="/assets/images/favicon/android-chrome-512x512.png" sizes="512x512">
<!-- end custom head snippets -->
